body{
    background :linear-gradient(75deg,rgb(30, 30, 30),rgb(92, 92, 92));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.us-dsgn{
    font-family: cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: rgba(163, 64, 202, 0.393);
    

}
.userbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 50vw;
    height: 50vh;
    padding: 20px 10px;
    background: linear-gradient(75deg,rgba(25, 25, 25, 0.1),rgb(5, 5, 5,0.1) );
    margin-bottom: 10px;
    border-radius: 2%;
}
.Name{
    width:30vw;
    height: 3vh;
    border: none;
    border-radius: 9%;
    background-color: rgba(255, 227, 190, 0.238);
    font-size: 2.5vh;
    font-family: cursive;
    color: rgba(44, 44, 44, 0.8);
    text-align:left;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.Name:hover{
    background-color: rgba(255, 227, 190, 0.6);
}
.submit-wrapper{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#submit{
    width: 120px;
    height: 50px;
    border-radius: 10%;
    font-size: 2.1vh;
    font-family: cursive;
    border: none;
    background-color: rgb(116, 77, 135,0.19);
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;


}
#submit:hover {
    background-color: rgb(116, 77, 135,0.5);
    font-size: 2vh;
}
#Register {
    font-family: cursive;
    font-size: 1.5vh;
    text-align: center;
    text-decoration: none;
    padding-left: 70%;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.3s;
}
#Register:hover{
       font-size: 1.9vh;
       color:  rgba(255, 255, 255, 0.5); 
}
